<div class="card-list-container py-5">
  <div class="card w-50 mx-auto mt-4 shadow-lg">
    <div class="card-body">
      <div class="row">
        <div class="col-12">
          <%= image_tag @customer.get_profile_image(100,100), class:"mt-3 rounded-circle"; %>
          <%= @customer.name %>
          <% if @customer == current_customer %>
        　  <%= link_to "プロフィール編集", edit_public_customer_path(@customer.id), class: "btn btn-outline-success" %>
          <% end %>
          <div id="follow_btn_<%= @customer.id %>"><%= render "public/relationships/follow", customer: @customer, class:"mt-5" %></div>
          <p class="card-title">
          <%= simple_format(@customer.introduction) %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render "public/posts/list", posts: @posts, today: @today, now: @now %>