<%= render 'layouts/errors', obj: @post %>

<% if flash[:notice] %>
 <div class="alert alert-success" role="alert">
 <p class="notice text-center" style="color:green;"><%= flash[:notice] %></p></div>
<% end %>

<div class="card-list-container py-5">
  <div class="card w-50 mx-auto mt-4 shadow-lg">
    <div class="col-12 row">
      <%= image_tag @post.customer.get_profile_image(75,75), class: "p-2 rounded-circle" %>
      <%= link_to @post.customer.name, public_customer_path(@post.customer.id), class: "text-dark mt-4" %>
    </div>
      <% if @post.images.attached? %>
        <% @post.images.each do |image| %>
            <%= image_tag image.variant(resize: '500x500') %>
        <% end %>
      <% end %>
    <div class="card-body">
      <div class="row">
        <div class="col-12">
            <div id="favorite_btn_<%= @post.id %>"><%= render "public/favorites/favorite", post: @post %></div>
          <p class="card-title">
            <h5 class="my-5"><%= @post.prefecture.name %>
            <%= @post.title %></h5>
          </p>
          <p>
            <%= simple_format(@post.body) %><br>
          </p>
          <p>
            <%= @post.rideday %><br>
            <%= @post.mileage %>km
            <%= @post.runtime.strftime("%H:%M") %>
          </p>
          <div class="text-right">
            <% if (@now - @post.created_at) <= 60 * 60 %>
              <%=((@now - @post.created_at) / 60).to_i.to_s + "分前" %>
            <% elsif (@now - @post.created_at) <= 60 * 60 * 24 %>
            　<%=((@now - @post.created_at) / 3600).to_i.to_s + "時間前" %>
            <% elsif (@today - @post.created_at.to_date) <= 30 %>
            　<%= (@today - @post.created_at.to_date).to_i.to_s + "日前" %>
            <% else %>
              <%= @post.created_at.strftime('%Y-%m-%d') %> 
            <% end %>
          </div>
          <div id="comments_area"><%= render "public/comments/comments", post: @post %></div>
          <div class="new-comment"><%= render "public/comments/form", post: @post, comment: @comment %></div>
          <p class="mt-5">
          <div class="text-right">
          <% if @post.customer_id == current_customer.id %>
            <%= link_to edit_public_post_path(@post), class: "btn", data: {"turbolinks" => false} do %>
              <h4><i class="far fa-edit text-success"></i></h4>
            <% end %>
            <%= link_to public_post_path(@post), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn" do %>
              <h4><i class="far fa-trash-alt text-danger"></i></h4>
            <% end %>
          <% end %>
          </div>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
    $(document).ready(function(){
      $('.slider').bxSlider();
    });
</script>