<%= image_tag @post.customer.get_profile_image(50,50) %>
<%= link_to @post.customer.name, public_customer_path(@post.customer.id) %><br>
<% if @post.images.attached? %>
  <% @post.images.each do |image| %>
    <%= image_tag image.variant(resize: '300x300') %>
  <% end %>
<% end %><br>
<div id="favorite_btn_<%= @post.id %>"><%= render "public/favorites/favorite", post: @post %></div><br>
<%= @post.prefecture.name %>
<%= @post.title %><br>
<%= @post.body %><br>
<%= @post.rideday %><br>
<%= @post.mileage %>km<br>
<%= @post.runtime.strftime("%H:%M") %><br>
<%= render "public/comments/comments", post: @post %>
<!--%= render "public/comments/form", post: @post, comment: @comment %>-->