<div class="card-list-container py-5">
  <% @posts.each do |p| %>
    <div class="card w-50 mx-auto mt-4 shadow-lg">
      <div class="col-12 row">
        <%= image_tag p.customer.get_profile_image(75,75), class: "p-2 rounded-circle" %>
        <p class="text-dark mt-4"><%= p.customer.name %></p>
      </div>
      <div class="slider">
        <% if p.images.attached? %>
          <% p.images.each do |image| %>
            <siv class="size">
              <%= image_tag image.variant(gravity: :center, resize:"710x640^", crop:"710x640+0+0").processed %>
            </siv>
          <% end %>
        <% end %>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <p class="card-title">
              <h5><%= p.prefecture.name %>
              <%= p.title %></h5>
            </p>
            <div class="text-right">
              <% if (@now - p.created_at) <= 60 * 60 %>
                <%=((@now - p.created_at) / 60).to_i.to_s + "分前" %>
              <% elsif (@now - p.created_at) <= 60 * 60 * 24 %>
              　<%=((@now - p.created_at) / 3600).to_i.to_s + "時間前" %>
              <% elsif (@today - p.created_at.to_date) <= 30 %>
              　<%= (@today - p.created_at.to_date).to_i.to_s + "日前" %>
              <% else %>
                <%= p.created_at.strftime('%Y-%m-%d') %> 
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>


<div class="page-view">
  <%= paginate @posts %>
</div>
 
 
 <script>
    $(document).ready(function(){
      $('.slider').bxSlider();
    });
</script>