<% if flash[:error] %>
 <div class="alert alert-success" role="alert">
 <p class="notice text-center" style="color:green;"><%= flash[:notice] %></p></div>
<% end %>

<% if flash[:notice] %>
 <div class="alert alert-danger" role="alert">
 <p class="notice text-center" style="color:red;"><%= flash[:notice] %></p></div>
<% end %>

<div class="card-list-container py-5">
  <div class="card w-50 mx-auto mt-4 shadow-lg">
    <div class="card-body">
      <div class="text-center">
        <h2 class="text-info">Sign up</h2>
        
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "public/shared/error_messages", resource: resource %>
          
          <div class="field mt-5">
            <%= f.label :ニックネーム, class: "text-secondary" %><br />
            <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
          </div>
        
          <div class="field mt-3">
            <%= f.label :メールアドレス, class: "text-secondary" %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>
        
          <div class="field mt-3">
            <%= f.label :パスワード, class: "text-secondary" %>
            <% if @minimum_password_length %>
            <em class="text-secondary">（<%= @minimum_password_length %> 文字以上）</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password" %>
          </div>
        
          <div class="field mt-3">
            <%= f.label :パスワード（確認用）, class: "text-secondary" %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
          </div>
        
          <div class="actions">
            <%= f.submit "Sign up", class: "btn btn-outline-success mt-4" %>
          </div>
        <% end %>
        
        <div class="text-right mt-5">
         登録済みの方→<%= render "public/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>