<div class="card-list-container py-5">
  <div class="card w-50 mx-auto mt-4 shadow-lg">
    <div class="card-body">
      <div class="text-center">

        <h2 class="text-info">Log in</h2>
        
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field mt-5">
            <%= f.label :メールアドレス, class: "text-secondary" %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>
        
          <div class="field mt-3">
            <%= f.label :パスワード, class: "text-secondary" %><br />
            <%= f.password_field :password, autocomplete: "current-password" %>
          </div>
        
          <div class="actions">
            <%= f.submit "Log in", class: "btn btn-outline-success mt-4" %>
          </div>
        <% end %>
        
        <div class="text-right mt-5">
          登録済みでない方→<%= render "public/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
