<!DOCTYPE html>
<html>
  <head>
    <title>Tour-de-Japon</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand p-3" href="/public/home/about"><%= image_tag('cycle.png') %></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <% if admin_signed_in? %>
                <li class="nav-item">
                  <%= link_to "投稿一覧", admin_posts_path, method: :get, class: 'nav-link text-dark'%>
                </li>
                <li class="nav-item">
                  <%= link_to "会員一覧", admin_customers_path, method: :get, class: 'nav-link text-dark'%>
                </li>
                <li class="nav-item">
                  <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'nav-link text-dark'%>
                </li>
              <% elsif customer_signed_in? %>
                <li class="nav-item mx-2">
                  <%= link_to root_path, class: 'nav-link text-dark', method: :get do %>
                    <h3><i class="fas fa-home"></i></h3>
                  <% end %>
                </li>
                <li class="nav-item mx-2">
                  <%= link_to  public_posts_path, class: 'nav-link text-dark', method: :get do %>
                    <h3><i class="fas fa-bicycle"></i></h3>
                  <% end %>
                </li>
                <li class="nav-item mx-2">
                  <%= link_to favorites_public_customer_path(current_customer), class: 'nav-link text-dark', method: :get do %>
                    <h3><i class="fas fa-heart"></i></h3>
                  <% end %>
                </li>
                <li class="nav-item mx-2">
                  <%= link_to new_public_post_path, class: 'nav-link text-dark', method: :get do %>
                    <h3><i class="fas fa-edit"></i></h3>
                  <% end %>
                </li>
                <li class="nav-item mx-2">
                  <%= link_to public_customer_path(current_customer), class: 'nav-link text-dark', method: :get do %>
                    <h3><i class="fas fa-user"></i></h3>
                  <% end %>
                </li>
                <li class="nav-item mx-2">
                  <%= link_to destroy_customer_session_path, method: :delete, class: 'nav-link text-dark' do %>
                    <h3><i class="fas fa-sign-out-alt"></i></h3>
                  <% end %>
                </li>
              <% else %>
                <li class="nav-item mx-2">
                  <%= link_to public_home_index_path, class: 'nav-link text-dark', method: :get do %>
                    <h2><i class="fas fa-bicycle"></i></h2>
                  <% end %>
                </li>
                <li class="nav-item mx-2">
                  <%= link_to new_customer_registration_path, class: 'nav-link text-dark', method: :get do %>
                    <h3><i class="fas fa-user-plus"></i></h3>
                  <% end %>
                </li>
                <li class="nav-item mx-2">
                  <%= link_to new_customer_session_path, class: 'nav-link text-dark', method: :get do %>
                    <h2><i class="fas fa-sign-in-alt"></i></h2>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <%= yield %>
  </body>
  <footer class="bg-dark text-white pt-5 pb-4">
    <p class="text-center">〜日本を旅しよう、日本を深く知ろう〜 <a class="text-white-50 mx-3">@Tour de Japon</a></p>
    <!--<a href="/admin/sign_in" title="管理者ログイン" class="text-white-50">管理者</a>-->
  </footer>
</html>
